<!--
Upload Course with forms Template
Reference to a js file making DOM manipulation, in order to add dynamically new modules.
-->

{% extends "app.html" %}

{% block titre %}Formulaire{% endblock %}

{% block script %}

{%  load static %}
<script type="text/javascript" src="{% static 'js/form_dom.js' %}"></script>
{% endblock %}

{% block breadcrumb %}
  <li><a href="{% url 'course_from_uploaded_files' %}"><span> Création à partir de vos documents</span></a></li>
{% endblock %}

{% block content %}

  <div class="container">
    <h1>Création à partir de vos documents</h1>
    <form action="{% url 'course_from_uploaded_files' %}" method="post"  enctype="multipart/form-data">
      <div class="row">
	  <div id="info">
            {% csrf_token %}
            {{ course.as_p}}
	  </div>
	  <p>Sélectionnez vos modules et générez le cours. Vous pouvez également générer un cours <a href='{% url 'course_from_uploaded_archive' %}'>à partir d'une archive contenant tous les fichiers nécessaires</a>.</p>
          <input type="submit" value="Générer le cours" />
      </div>
      <div class="row">
	<div class="col-md-5 ">
	  <h3>Modules</h3>
          <div id="modules">
            <fieldset id="module1">
              <legend>Module 1</legend>
              {{module.as_p}}
            </fieldset>
          </div>

          <input type="button" value="Ajouter un module" onclick="createModule()">
          <input type="button" value="Retirer un module" onclick="removeModule()">

          <button type="button" class="popup" onclick="showPopUp('popup3')">
            <img src="{% static 'img/help.png' %}" height="20" width="20"/>
            <span class="popuptext" id="popup3">Chaque module doit être écrit en Markdown/Gift.<br>
              Pour chaque module, On peut insérer des medias.<br>
              Les medias doivent être dans une archive zip ou tar.gz à la racine.<br><br>
              Référence dans les modules:
              <br>![blabla](media/&lt;nom fichier&gt;)
            </span>
          </button><br>
          <input id="nb_module" name="nb_module" type="hidden" value="1"/>
	</div>
	<div class="col-md-5">
	  <h3>Paramètres optionnels</h3>
	  <div id="info">
            {% csrf_token %}
            {{ options.as_p}}
	  </div>
	</div>
      </div>
    </form>
  </div>
{% endblock %}
